.dm-widget {
    margin: 0 auto !important;
    display: block !important;
    height: 500px !important;
    width: 250px !important;
    overflow: hidden;
    font-family: arial, sans-serif;
}

.dm-widget h2 {
    text-align: center !important;
    padding-top: 5px;
}

.dm-widget h3 {
    text-align: center !important;
    padding-top: 5px;
}

.dm-form-container {
    max-width: 100% !important;
    margin: 0 auto !important;
}

.dm-form {
    max-width: 100% !important;
    padding: 5px;
}

.dm-form fieldset {
    border: none !important;
    max-width: 100% !important;
    display: table;
}

.dm-form-label {
    /*color: #920028;*/
}

.dm-form-input {
    display: block;
    margin: 0;
    max-width: 100%;
    appearance: none;
    box-shadow: none;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.dm-form-input:focus,
.dm-form-input.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.dm-chart-container {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

#dm-chart {
    display: block !important;
    margin: 0 auto !important;
}

.dm-bold {
    font-weight: bold !important;
}

/* Error Messages */
.dm-error {
    background-color: red !important;
    color: white !important;
    font-size: small !important;
}

.dm-highlight-box {
    border: 1px red solid !important;
}

/* hide elements */
.dm-hidden {
    display: none !important;
}

/* Animations */
/* from animate.css */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Fade In Down */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/* Fade Out Down */

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}